{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/college-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">Accredited by NAAC, DTE Code: EN6184</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>KJEI’s Trinity College of Engineering and Research was established June 2008 at the scenic foothills of Bopdev Ghat, Yewlewadi, Pisoli,Pune. The College is approved by AICTE & DTE,Govt of Maharashtra and is Affiliated to Savitribai Phule Pune University.</p>
        <p>The College offers courses in Electronics & Telecommunication, Mechanical Engg, Computer Engg, Information Technology, Civil & Electrical Engg. The college boasts of quality state of art infrastructure with well planned, designed adequate class rooms and labs</p>
        <p>The College is in the forefront to impart quality education & to ultimately be recognized as a premiere knowledge centre. A blog (short for “weblog”) is an online journal or informational website run by an individual, group, or corporation that offers regularly updated content (blog post) about a topic.</p>
        <p>So at trinity we have provided this platform so our fellow students could share their thoughts and gain information on current affairs.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}